:root {
    --primary-color: #eff2f4;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #010b0f;
    /* dark slate blue */
    --accent2-color: #0bef41;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1005dbfd;
    color: var(--accent2-color);
}

header img {
    border-radius: 50%;
    object-fit: cover;
    width: 9rem;
}

header li a {
    color: #fff;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: rgb(247, 247, 250);
}

nav,
p,
section,
article {
    margin: 12px;
    padding: 6px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 15px;
    align-style: none;
}

.socialmedia img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.socialmedia img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 120px;
    margin: 5px;
    padding: 5px;

}

.hero article {
    width: 100%;
    position: absolute;
    border-radius: 100px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: rgb(80, 80, 210);
    color: #fff;
    font-size: 24px;
    /* white text – make sure there is enough contrast with the background-color */
}

article {
    position: absolute;
    top: 14rem;
    width: 100%;
    padding: 5px;
    text-align: justify;
    opacity: 0.7;
    background-color: rgb(80, 80, 210);
    color: #fff;
    font-size: 13px;
}

h2 {
    text-align: center;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: rgb(80, 80, 210);
}

footer {
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: left;
}